{% extends 'core/base.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Te extrañaremos</h1>
            <p class="lead fw-normal text-white-50 mb-0">Vuelve pronto!!</p>
        </div>
    </div>
</header>
{% endblock header %}

{% block main %}    
    <div class="container text-center mt-5">
        <!-- Mensaje de cierre de sesión -->
        <p class="lead">Has cerrado sesión</p>

        <!-- Botón de volver estilizado -->
        <a href="{% url 'core:index' %}" class="btn btn-primary">Volver</a>
    </div>
{% endblock main %}